/* fix page formatting after removing elements */
.global-navigation--hidden ~ .main-container {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 100% !important;
}

.fandom-sticky-header--navbar-modified {
    left: 0 !important;
}

.global-navigation--hidden {
    display: none !important;
}

.global-navigation--minified {
    max-height: fit-content !important;
}

.global-navigation__top--hidden {
    display: none !important;
}

.wikia-bar--hidden {
    display: none !important;
}