/* fix page formatting after removing elements */
.main-container {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 100% !important;
}

.fandom-sticky-header {
    left: 0 !important;
}

/* removing global nav at page load has unintended side effects. better to just hide it */
.global-navigation {
    display: none !important;
}

